@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #3d3d3c !important;
    background-color: #FCFCFC !important;
}

.spinner{
    width: 10vh;
    height: 10vh;
    border: 1vh solid #00000007;
    border-radius: 50%;
    margin-bottom: 10px;
    border-left-color: #1c70df;
    animation: spin 1s ease-in-out infinite;
}

.fc-daygrid-day-frame:hover{
    background-color: beige !important;
    cursor: pointer !important;
}

.fc-day-today .fc-daygrid-day-frame{
    background-color: rgb(50, 112, 204) !important;
    color: white !important;
}

.fc-toolbar-title{
    text-transform:capitalize !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}

.scroll {
    max-height: 59vh;
    min-height: 59vh;
    overflow-y: auto;
}

.card.shadow-sm.border-info:hover{
    cursor: pointer !important;
    background-color: #36b8cc81 !important;
    color: white !important;
}

.product-row:hover{
    cursor: pointer;
}

.row-selected{
    background-color: #4E73DF !important;
    color: white !important;
    font-weight: bold !important;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}